.header {
    font-size: 36px;
    color: #CCD5AE;
    font-weight: bold;
    margin-bottom: 21px;
}
.categorie{
    border: 1px solid #CCD5AE;
    border-radius: 6px;
    margin: 10px 1.5%;
    width: 17%;
    min-height: 148px;
    cursor: pointer;
}
.nom{
    font-size: 16px;
    font-weight: bold;
}