.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #ea4335;
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}
  
.btn-google:hover {
    color: #fff;
    background-color: #e12717;
    border-color: #e6e6e6;
}