th {
    border: solid 0.5px lightgrey;
}

.btn-full{
    height: auto;
    width: auto;
}

.btn-google {
    color: #fff;
    background-color: #0dec90;
    border-color: #0dec90;
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
}
  
.btn-google:hover {
    color: #fff;
    background-color: #119658;
    border-color: #119658;
}

.btn-modif {
    color: #fff;
    background-color: #1ac4e2;
    border-color: #1ac4e2;
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
}
  
.btn-modif:hover {
    color: #fff;
    background-color: #0739a3;
    border-color: #0739a3;
}

.btn-delete {
    color: #fff;
    background-color: #f02e2e;
    border-color: #f02e2e;
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
}
  
.btn-delete:hover {
    color: #fff;
    background-color: #a50505;
    border-color: #a50505;
}


.header {
    font-size: 36px;
    color: #CCD5AE;
    font-weight: bold;
    margin-bottom: 21px;
}
.categorie{
    border: 1px solid #CCD5AE;
    border-radius: 6px;
    margin: 10px 1.5%;
    width: 17%;
    min-height: 148px;
    cursor: pointer;
}
.nom{
    font-size: 16px;
    font-weight: bold;
}