        <header class="bg-success py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Les meilleures cuisines du monde sont à votre portée !</h1>
                        </div>
                        <p class=" h2 lead text-white mb-4">Découvrez des milliers d'idées recettes et astuces pour ravir vos invités ou simplement pour égayer votre quotidien.</p>
                        <p class=" h2 lead text-white mb-4">Voici une de nos délicieuses recettes :</p>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="container-sm justify-content-center center " style="align-items: center;">
                    <div class="card col-6 center" style=" margin-left: auto; margin-right: auto;">
                        <div class=" card-body">
                            <div class="d-flex flex-wrap">
                                <div class="recette d-flex" >
                                    <img class="col-5" style="border-radius: 1rem;" [src]="uneRecette.photo" />
                                    <div class="col-7 px-2 d-flex justify-content-between flex-column">
                                        <div>
                                            <span class="title"> <b>{{ uneRecette.nom }} </b> </span>
                                            <span class="commentaire">{{ uneRecette.commentaire }}</span>
                                        </div>
                                        <span class="d-flex">
                                            <span class="col">Note: {{uneRecette.noteTotal}} </span>
                                            <span class="divider"></span>
                                            <span class="col"><i class="pi pi-clock" style="margin-right: 10px;"></i>{{ uneRecette.tempsHeures }}h{{
                                                uneRecette.tempsMinutes }}min</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
                        
        </header>

        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clipboard-plus"></i></div>
                        <h2 class="h4 fw-bolder">Partagez vos recettes</h2>
                        <p>Avec notre api, il est très simple d'ajouter ses propres recettes et de contribuer à enrichir notre catalogue.
                            Votre recette sera facilement accessible en quelques clics !
                        </p>
                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-cup-hot"></i></div>
                        <h2 class="h4 fw-bolder">Envie d'une recette? c'est ici ! </h2>
                        <p>A l'aide de notre système de tri vous êtes sur de trouver ce que vous cherchez!
                            Vous pouvez ainsi trier en fonction du prix, de la durée de préparation,
                            du type de cuisine et encore plus!
                        </p>
                    </div>

                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-star-half"></i></div>
                        <h2 class="h4 fw-bolder">Notez les différentes recettes</h2>
                        <p>On ne se contente pas uniquement de proposer des recettes, vous pouvez aussi les noter.
                            Avoir la meilleure note ne vous tente pas ? à vos cuillères !
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">

                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted">Totalement gratuit</div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$0</span>
                                    <span class="text-muted">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        recherche, tri de recettes
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Création de recettes illimitée 
                                    </li>

                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Modifier et Supprimer vos recettes
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Possibilité de noter toutes les recettes du site
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Découverte de nombreux plats et cuisines
                                    </li>      
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Temoignage de nos utilisateurs</h2>
                    <p class="lead mb-0">Nos utilisateurs sont toujours satisfaits de notre plateforme</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">

                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Facile à utiliser, le site satisfait mes besoins à la perfection.</p>
                                        <div class="small text-muted">Natalie Bourgeois</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Le site comble mes attentes. Simple et fluide, tout est disponible 
                                            en quelques clics. </p>
                                        <div class="small text-muted">- Adrien Agreste</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Cousinetna 2022</p></div>
        </footer>